-----BEGIN CERTIFICATE-----
MIIELTCCApWgAwIBAgIQcWPNkL/fO0kG7Ik1V5VuFzANBgkqhkiG9w0BAQsFADB1
MR4wHAYDVQQKExVta2NlcnQgZGV2ZWxvcG1lbnQgQ0ExJTAjBgNVBAsMHE1TSVxi
YWxlbEBNU0kgKGJhbGVsYSB1cmllbCkxLDAqBgNVBAMMI21rY2VydCBNU0lcYmFs
ZWxATVNJIChiYWxlbGEgdXJpZWwpMB4XDTI1MTAwOTE1MTUzN1oXDTI4MDEwOTE1
MTUzN1owUDEnMCUGA1UEChMebWtjZXJ0IGRldmVsb3BtZW50IGNlcnRpZmljYXRl
MSUwIwYDVQQLDBxNU0lcYmFsZWxATVNJIChiYWxlbGEgdXJpZWwpMIIBIjANBgkq
hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6zTKIaeprjPesGNl5VXl5UaK/rfg7qkd
yDLNAFlKFZtHOOyuLG6fwtLmeFalpTNwefwpsgjuozInLnYAICh5/6ND6nljVYa4
m4UUS3ujBKCn6pNNGW6tRPHmw96nLci2hF+1WBKOZYvjkM3nP/DdyDA8lrnVYC57
hv0Bnpp7ZJbhaKbrptnCpNQYKxw7zI24nZzI0Dxc7Sa6W70DDBQrG0UiT5quFS8y
16p94Uif7DsIWDmZ+DitlG8cce4PuJfM5ezZ71E2pOhgA3ECa9R5pcvMmeitDCJX
+soYq6aLozdkK2//6MPp88gWgTM9j3zZ1fS96HSh7slTrPqILY2IawIDAQABo14w
XDAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwHwYDVR0jBBgw
FoAU2bU3UT3Yh9VYKWtqnFfgcBJ4pOYwFAYDVR0RBA0wC4IJbG9jYWxob3N0MA0G
CSqGSIb3DQEBCwUAA4IBgQBwl7zsxYKQtnhNVpOqiu19CT9Oq9wvvkQ8igUuDY0X
9h5EzJwZlkhuxcvXERfQBMlbGk6vVLkCb47mXBWBwWlqFuRU8BKMnRI+GJDSdQX+
hfGpO/PA6BXS2PKdaE534r861W7/rEncj8bE4KSzi1fjNH9z5CWMAYvlexN4Itpt
Z35IfSWzKwxRSuqdRBfXUVS0juYv7trPSfhtyOyxU6tTrErlrgBcWprkW4zqqZza
ORj/GiKWJ1SQCqFsFzLu/wiP6W0BIjX/33+JQsTZf9avUYX7CmGRfpV+62q2ojkX
FIHW36Zy4Z2fWOMlt/N+Pu0zaoUpaA47Tv9Fnq7zM/a9R7EIJxaBOabe2q9Zc3uZ
QCwBgxaKnC9m7ubwDkAYYS3Z/3bVIw51KotqSrUTO8uWo72RQkVmW8udCsil4ge2
bmwdH4udlOPDvu94eDM8cRiF2NW0RSgdtQrus3QSMRE+Dn5Ugh+17z/y257sg+gB
K6vT2yfE4StvKtThPqJ1IYg=
-----END CERTIFICATE-----
